# PostgreSQL Database Configuration
DB_USER=shorturl_user
DB_PASSWORD=password123
DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=shorturldb

# Full connection URL
DATABASE_URL=postgresql+asyncpg://shorturl_user:password123@host.docker.internal:5432/shorturldb

# Redis Configuration
REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_DB=0
# REDIS_PASSWORD=
# REDIS_URL=redis://host.docker.internal:6379/0
